In [2]:
import pyspark
import os
os.getcwd()

'/Users/priyankapatil'

In [3]:
import findspark
findspark.init('/Users/priyankapatil/anaconda3/lib/python3.7/site-packages/pyspark')
print ("Hey Priyanka")

Hey Priyanka

In [4]:
from pyspark.sql import Row
from pyspark.sql import functions
from pyspark.sql import SQLContext
from pyspark import SparkContext, SparkConf
from pyspark.sql.types import *
from pyspark.sql.functions import *
import pyspark.sql.functions as func
from pyspark.sql import SparkSession

spark = SparkSession.builder.config("spark.sql.warehouse.dir", "file:///C:/temp").appName("SparkSQL").getOrCreate()

sc = SparkContext.getOrCreate(SparkConf().setMaster("local[*]"))
sqlContext = SQLContext(sc)
sc

In [5]:
# Load the data stored in csv format as a DataFrame.
data = spark.read.load(r'/Users/priyankapatil/Desktop/Data/dataset_flight.csv',
                     format="csv", sep=",", inferSchema='true', header="true")

In [6]:
#create a new copy of the Spark dataframe
dfa = data

In [7]:
#Create Table for explatory analysis

data.createOrReplaceTempView("Airline")

In [8]:
dfr1 = spark.sql("SELECT OP_UNIQUE_CARRIER,CANCELLED from Airline where CANCELLED =0")

dfr1.count()

14350435

In [9]:
#Total number of flights cancelled in January

dfr1b = spark.sql("SELECT OP_UNIQUE_CARRIER,CANCELLED from Airline where CANCELLED =1")

dfr1b.count()

248385

In [10]:
# % of flights cancelled

(dfr1b.count()/dfr1.count())*100

1.7308534549649541

In [11]:
#Carrier with most cancellations during Nov 2018 -  January 2019 period

dfr1b.groupby('OP_UNIQUE_CARRIER').sum('CANCELLED').orderBy('sum(CANCELLED)', ascending=False).show()

+-----------------+--------------+
|OP_UNIQUE_CARRIER|sum(CANCELLED)|
+-----------------+--------------+
|               WN|       48198.0|
|               AA|       34320.0|
|               OO|       28218.0|
|               MQ|       22438.0|
|               OH|       19338.0|
|               YX|       18363.0|
|               YV|       12238.0|
|               EV|       11511.0|
|               9E|       10726.0|
|               B6|       10059.0|
|               UA|        9922.0|
|               NK|        5415.0|
|               DL|        5368.0|
|               AS|        5246.0|
|               F9|        4709.0|
|               G4|        1460.0|
|               VX|         433.0|
|               HA|         423.0|
+-----------------+--------------+

In [12]:
# Weekday with most cancellations

dfr2 = spark.sql("SELECT DAY_OF_WEEK, CANCELLED from Airline where CANCELLED =1")

t = {1:"Monday", 2: "Tuesday", 3:"Wednesday", 4: "Thursday", 5: "Friday", 6: "Saturday", 7: "Sunday"}

conv = udf(lambda x: t[x], StringType())
dfwd= dfr2.withColumn("Weekday", conv("DAY_OF_WEEK")).groupBy('Weekday').sum('CANCELLED').orderBy('sum(CANCELLED)', ascending=False).show()

+---------+--------------+
|  Weekday|sum(CANCELLED)|
+---------+--------------+
|Wednesday|       43201.0|
| Thursday|       39165.0|
|  Tuesday|       38429.0|
|   Monday|       36741.0|
|   Friday|       34756.0|
|   Sunday|       32851.0|
| Saturday|       23242.0|
+---------+--------------+

In [13]:
#Average delay of flights originating from Tampa, JFK, ORD, LAX

dfrd = spark.sql("SELECT ORIGIN, DEP_DELAY, CANCELLED from Airline where (ORIGIN='TPA' or ORIGIN='ORD' or ORIGIN='JFK' or ORIGIN='LAX') and CANCELLED=0")


dfrd.groupBy('ORIGIN').avg('DEP_DELAY').orderBy('avg(DEP_DELAY)', ascending= False).show()

+------+------------------+
|ORIGIN|    avg(DEP_DELAY)|
+------+------------------+
|   ORD|13.696719592272279|
|   JFK|12.594131990182614|
|   TPA|11.045266409578227|
|   LAX| 9.197468209285526|
+------+------------------+

In [15]:
dfa.show(5)

+----+-------+-----+------------+-----------+-----------------+--------+-----------------+------+----+------------+--------+---------+--------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+----+
|YEAR|QUARTER|MONTH|DAY_OF_MONTH|DAY_OF_WEEK|OP_UNIQUE_CARRIER|TAIL_NUM|OP_CARRIER_FL_NUM|ORIGIN|DEST|CRS_DEP_TIME|DEP_TIME|DEP_DELAY|TAXI_OUT|TAXI_IN|CRS_ARR_TIME|ARR_TIME|ARR_DELAY|CANCELLED|CANCELLATION_CODE|DIVERTED|CRS_ELAPSED_TIME|ACTUAL_ELAPSED_TIME|AIR_TIME|DISTANCE|CARRIER_DELAY|WEATHER_DELAY|NAS_DELAY|SECURITY_DELAY|LATE_AIRCRAFT_DELAY|_c30|
+----+-------+-----+------------+-----------+-----------------+--------+-----------------+------+----+------------+--------+---------+--------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+----+
|2018|      2|    4|          24|          2|               UA|  N18243|             2055|   SFO| PDX|        1200|    1155|     -5.0|    37.0|    4.0|        1351|    1351|      0.0|      0.0|             null|     0.0|           111.0|              116.0|    75.0|   550.0|         null|         null|     null|          null|               null|null|
|2018|      2|    4|          24|          2|               UA|  N18243|             2054|   PDX| SFO|        1442|    1436|     -6.0|    11.0|    9.0|        1632|    1621|    -11.0|      0.0|             null|     0.0|           110.0|              105.0|    85.0|   550.0|         null|         null|     null|          null|               null|null|
|2018|      2|    4|          24|          2|               UA|  N12218|             2053|   MCO| IAH|        1708|    1658|    -10.0|    13.0|    8.0|        1848|    1831|    -17.0|      0.0|             null|     0.0|           160.0|              153.0|   132.0|   854.0|         null|         null|     null|          null|               null|null|
|2018|      2|    4|          24|          2|               UA|  N851UA|             2052|   FAT| SFO|         605|     558|     -7.0|    11.0|   15.0|         702|     655|     -7.0|      0.0|             null|     0.0|            57.0|               57.0|    31.0|   158.0|         null|         null|     null|          null|               null|null|
|2018|      2|    4|          24|          2|               UA|  N431UA|             2051|   TPA| SFO|         805|     758|     -7.0|    15.0|    6.0|        1101|    1041|    -20.0|      0.0|             null|     0.0|           356.0|              343.0|   322.0|  2393.0|         null|         null|     null|          null|               null|null|
+----+-------+-----+------------+-----------+-----------------+--------+-----------------+------+----+------------+--------+---------+--------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+----+
only showing top 5 rows

In [17]:
test = spark.sql("SELECT OP_UNIQUE_CARRIER,DEP_DELAY from Airline where DEP_DELAY > 15")

test.show(20)

+-----------------+---------+
|OP_UNIQUE_CARRIER|DEP_DELAY|
+-----------------+---------+
|               UA|    309.0|
|               UA|     25.0|
|               UA|     82.0|
|               UA|     42.0|
|               UA|     25.0|
|               UA|     98.0|
|               UA|     41.0|
|               UA|     77.0|
|               UA|    636.0|
|               UA|    143.0|
|               UA|     50.0|
|               UA|    118.0|
|               UA|     29.0|
|               UA|     29.0|
|               UA|   1069.0|
|               UA|     24.0|
|               UA|     35.0|
|               UA|     51.0|
|               UA|     42.0|
|               UA|    132.0|
+-----------------+---------+
only showing top 20 rows

In [18]:
from pyspark.sql.functions import lit

In [19]:
Delay15 = dfa.withColumn("DEP_DEL15", lit(0.0))
Delay15.show()

+----+-------+-----+------------+-----------+-----------------+--------+-----------------+------+----+------------+--------+---------+--------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+----+---------+
|YEAR|QUARTER|MONTH|DAY_OF_MONTH|DAY_OF_WEEK|OP_UNIQUE_CARRIER|TAIL_NUM|OP_CARRIER_FL_NUM|ORIGIN|DEST|CRS_DEP_TIME|DEP_TIME|DEP_DELAY|TAXI_OUT|TAXI_IN|CRS_ARR_TIME|ARR_TIME|ARR_DELAY|CANCELLED|CANCELLATION_CODE|DIVERTED|CRS_ELAPSED_TIME|ACTUAL_ELAPSED_TIME|AIR_TIME|DISTANCE|CARRIER_DELAY|WEATHER_DELAY|NAS_DELAY|SECURITY_DELAY|LATE_AIRCRAFT_DELAY|_c30|DEP_DEL15|
+----+-------+-----+------------+-----------+-----------------+--------+-----------------+------+----+------------+--------+---------+--------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+----+---------+
|2018|      2|    4|          24|          2|               UA|  N18243|             2055|   SFO| PDX|        1200|    1155|     -5.0|    37.0|    4.0|        1351|    1351|      0.0|      0.0|             null|     0.0|           111.0|              116.0|    75.0|   550.0|         null|         null|     null|          null|               null|null|      0.0|
|2018|      2|    4|          24|          2|               UA|  N18243|             2054|   PDX| SFO|        1442|    1436|     -6.0|    11.0|    9.0|        1632|    1621|    -11.0|      0.0|             null|     0.0|           110.0|              105.0|    85.0|   550.0|         null|         null|     null|          null|               null|null|      0.0|
|2018|      2|    4|          24|          2|               UA|  N12218|             2053|   MCO| IAH|        1708|    1658|    -10.0|    13.0|    8.0|        1848|    1831|    -17.0|      0.0|             null|     0.0|           160.0|              153.0|   132.0|   854.0|         null|         null|     null|          null|               null|null|      0.0|
|2018|      2|    4|          24|          2|               UA|  N851UA|             2052|   FAT| SFO|         605|     558|     -7.0|    11.0|   15.0|         702|     655|     -7.0|      0.0|             null|     0.0|            57.0|               57.0|    31.0|   158.0|         null|         null|     null|          null|               null|null|      0.0|
|2018|      2|    4|          24|          2|               UA|  N431UA|             2051|   TPA| SFO|         805|     758|     -7.0|    15.0|    6.0|        1101|    1041|    -20.0|      0.0|             null|     0.0|           356.0|              343.0|   322.0|  2393.0|         null|         null|     null|          null|               null|null|      0.0|
|2018|      2|    4|          24|          2|               UA|  N37290|             2050|   MYR| EWR|        1307|    1302|     -5.0|    35.0|    4.0|        1500|    1502|      2.0|      0.0|             null|     0.0|           113.0|              120.0|    81.0|   550.0|         null|         null|     null|          null|               null|null|      0.0|
|2018|      2|    4|          24|          2|               UA|  N34222|             2049|   DEN| IAH|        1523|    1517|     -6.0|    17.0|    9.0|        1846|    1838|     -8.0|      0.0|             null|     0.0|           143.0|              141.0|   115.0|   862.0|         null|         null|     null|          null|               null|null|      0.0|
|2018|      2|    4|          24|          2|               UA|  N78540|             2049|   LAX| DEN|        1050|    1043|     -7.0|    33.0|    7.0|        1418|    1411|     -7.0|      0.0|             null|     0.0|           148.0|              148.0|   108.0|   862.0|         null|         null|     null|          null|               null|null|      0.0|
|2018|      2|    4|          24|          2|               UA|  N457UA|             2048|   LAX| LAS|        1950|    1947|     -3.0|    18.0|    5.0|        2107|    2056|    -11.0|      0.0|             null|     0.0|            77.0|               69.0|    46.0|   236.0|         null|         null|     null|          null|               null|null|      0.0|
|2018|      2|    4|          24|          2|               UA|  N15710|             2047|   BOS| EWR|        1922|    1913|     -9.0|    21.0|    6.0|        2050|    2032|    -18.0|      0.0|             null|     0.0|            88.0|               79.0|    52.0|   200.0|         null|         null|     null|          null|               null|null|      0.0|
|2018|      2|    4|          24|          2|               UA|  N11206|             2047|   IAH| BOS|        1304|    1259|     -5.0|    15.0|    3.0|        1754|    1734|    -20.0|      0.0|             null|     0.0|           230.0|              215.0|   197.0|  1597.0|         null|         null|     null|          null|               null|null|      0.0|
|2018|      2|    4|          24|          2|               UA|  N75858|             2046|   SFO| DCA|        1252|    1246|     -6.0|    21.0|   14.0|        2100|    2100|      0.0|      0.0|             null|     0.0|           308.0|              314.0|   279.0|  2442.0|         null|         null|     null|          null|               null|null|      0.0|
|2018|      2|    4|          24|          2|               UA|  N77430|             2045|   BOS| IAH|        1707|    1701|     -6.0|    19.0|   14.0|        2023|    2002|    -21.0|      0.0|             null|     0.0|           256.0|              241.0|   208.0|  1597.0|         null|         null|     null|          null|               null|null|      0.0|
|2018|      2|    4|          24|          2|               UA|  N897UA|             2045|   EWR| BOS|        1400|    1353|     -7.0|    16.0|    4.0|        1509|    1457|    -12.0|      0.0|             null|     0.0|            69.0|               64.0|    44.0|   200.0|         null|         null|     null|          null|               null|null|      0.0|
|2018|      2|    4|          24|          2|               UA|  N17752|             2044|   SMF| IAH|         535|     530|     -5.0|    13.0|   10.0|        1110|    1111|      1.0|      0.0|             null|     0.0|           215.0|              221.0|   198.0|  1609.0|         null|         null|     null|          null|               null|null|      0.0|
|2018|      2|    4|          24|          2|               UA|  N33264|             2043|   ORD| IAH|         601|     556|     -5.0|    26.0|    8.0|         848|     835|    -13.0|      0.0|             null|     0.0|           167.0|              159.0|   125.0|   925.0|         null|         null|     null|          null|               null|null|      0.0|
|2018|      2|    4|          24|          2|               UA|  N56859|             2042|   DCA| SFO|         755|     749|     -6.0|    16.0|    4.0|        1100|    1023|    -37.0|      0.0|             null|     0.0|           365.0|              334.0|   314.0|  2442.0|         null|         null|     null|          null|               null|null|      0.0|
|2018|      2|    4|          24|          2|               UA|  N510UA|             2041|   LAX| EWR|         600|     603|      3.0|    21.0|    6.0|        1414|    1418|      4.0|      0.0|             null|     0.0|           314.0|              315.0|   288.0|  2454.0|         null|         null|     null|          null|               null|null|      0.0|
|2018|      2|    4|          24|          2|               UA|  N436UA|             2040|   IAH| FLL|        1015|    1008|     -7.0|    14.0|    4.0|        1342|    1323|    -19.0|      0.0|             null|     0.0|           147.0|              135.0|   117.0|   966.0|         null|         null|     null|          null|               null|null|      0.0|
|2018|      2|    4|          24|          2|               UA|  N77865|             2039|   LAX| ORD|         820|     820|      0.0|    32.0|   14.0|        1427|    1425|     -2.0|      0.0|             null|     0.0|           247.0|              245.0|   199.0|  1744.0|         null|         null|     null|          null|               null|null|      0.0|
+----+-------+-----+------------+-----------+-----------------+--------+-----------------+------+----+------------+--------+---------+--------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+----+---------+
only showing top 20 rows

In [36]:
Delay15 = dfa.withColumn("DEP_DEL15",when(dfa.DEP_DELAY > 15,1).otherwise(0))
Delay15.show()

+----+-------+-----+------------+-----------+-----------------+--------+-----------------+------+----+------------+--------+---------+--------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+----+---------+
|YEAR|QUARTER|MONTH|DAY_OF_MONTH|DAY_OF_WEEK|OP_UNIQUE_CARRIER|TAIL_NUM|OP_CARRIER_FL_NUM|ORIGIN|DEST|CRS_DEP_TIME|DEP_TIME|DEP_DELAY|TAXI_OUT|TAXI_IN|CRS_ARR_TIME|ARR_TIME|ARR_DELAY|CANCELLED|CANCELLATION_CODE|DIVERTED|CRS_ELAPSED_TIME|ACTUAL_ELAPSED_TIME|AIR_TIME|DISTANCE|CARRIER_DELAY|WEATHER_DELAY|NAS_DELAY|SECURITY_DELAY|LATE_AIRCRAFT_DELAY|_c30|DEP_DEL15|
+----+-------+-----+------------+-----------+-----------------+--------+-----------------+------+----+------------+--------+---------+--------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+----+---------+
|2018|      2|    4|          24|          2|               UA|  N18243|             2055|   SFO| PDX|        1200|    1155|     -5.0|    37.0|    4.0|        1351|    1351|      0.0|      0.0|             null|     0.0|           111.0|              116.0|    75.0|   550.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N18243|             2054|   PDX| SFO|        1442|    1436|     -6.0|    11.0|    9.0|        1632|    1621|    -11.0|      0.0|             null|     0.0|           110.0|              105.0|    85.0|   550.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N12218|             2053|   MCO| IAH|        1708|    1658|    -10.0|    13.0|    8.0|        1848|    1831|    -17.0|      0.0|             null|     0.0|           160.0|              153.0|   132.0|   854.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N851UA|             2052|   FAT| SFO|         605|     558|     -7.0|    11.0|   15.0|         702|     655|     -7.0|      0.0|             null|     0.0|            57.0|               57.0|    31.0|   158.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N431UA|             2051|   TPA| SFO|         805|     758|     -7.0|    15.0|    6.0|        1101|    1041|    -20.0|      0.0|             null|     0.0|           356.0|              343.0|   322.0|  2393.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N37290|             2050|   MYR| EWR|        1307|    1302|     -5.0|    35.0|    4.0|        1500|    1502|      2.0|      0.0|             null|     0.0|           113.0|              120.0|    81.0|   550.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N34222|             2049|   DEN| IAH|        1523|    1517|     -6.0|    17.0|    9.0|        1846|    1838|     -8.0|      0.0|             null|     0.0|           143.0|              141.0|   115.0|   862.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N78540|             2049|   LAX| DEN|        1050|    1043|     -7.0|    33.0|    7.0|        1418|    1411|     -7.0|      0.0|             null|     0.0|           148.0|              148.0|   108.0|   862.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N457UA|             2048|   LAX| LAS|        1950|    1947|     -3.0|    18.0|    5.0|        2107|    2056|    -11.0|      0.0|             null|     0.0|            77.0|               69.0|    46.0|   236.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N15710|             2047|   BOS| EWR|        1922|    1913|     -9.0|    21.0|    6.0|        2050|    2032|    -18.0|      0.0|             null|     0.0|            88.0|               79.0|    52.0|   200.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N11206|             2047|   IAH| BOS|        1304|    1259|     -5.0|    15.0|    3.0|        1754|    1734|    -20.0|      0.0|             null|     0.0|           230.0|              215.0|   197.0|  1597.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N75858|             2046|   SFO| DCA|        1252|    1246|     -6.0|    21.0|   14.0|        2100|    2100|      0.0|      0.0|             null|     0.0|           308.0|              314.0|   279.0|  2442.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N77430|             2045|   BOS| IAH|        1707|    1701|     -6.0|    19.0|   14.0|        2023|    2002|    -21.0|      0.0|             null|     0.0|           256.0|              241.0|   208.0|  1597.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N897UA|             2045|   EWR| BOS|        1400|    1353|     -7.0|    16.0|    4.0|        1509|    1457|    -12.0|      0.0|             null|     0.0|            69.0|               64.0|    44.0|   200.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N17752|             2044|   SMF| IAH|         535|     530|     -5.0|    13.0|   10.0|        1110|    1111|      1.0|      0.0|             null|     0.0|           215.0|              221.0|   198.0|  1609.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N33264|             2043|   ORD| IAH|         601|     556|     -5.0|    26.0|    8.0|         848|     835|    -13.0|      0.0|             null|     0.0|           167.0|              159.0|   125.0|   925.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N56859|             2042|   DCA| SFO|         755|     749|     -6.0|    16.0|    4.0|        1100|    1023|    -37.0|      0.0|             null|     0.0|           365.0|              334.0|   314.0|  2442.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N510UA|             2041|   LAX| EWR|         600|     603|      3.0|    21.0|    6.0|        1414|    1418|      4.0|      0.0|             null|     0.0|           314.0|              315.0|   288.0|  2454.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N436UA|             2040|   IAH| FLL|        1015|    1008|     -7.0|    14.0|    4.0|        1342|    1323|    -19.0|      0.0|             null|     0.0|           147.0|              135.0|   117.0|   966.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N77865|             2039|   LAX| ORD|         820|     820|      0.0|    32.0|   14.0|        1427|    1425|     -2.0|      0.0|             null|     0.0|           247.0|              245.0|   199.0|  1744.0|         null|         null|     null|          null|               null|null|        0|
+----+-------+-----+------------+-----------+-----------------+--------+-----------------+------+----+------------+--------+---------+--------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+----+---------+
only showing top 20 rows

In [37]:
test2 = spark.sql("SELECT DEP_DEL15 from Airline1 where DEP_DELAY > 15")

test2.show(50)

+---------+
|DEP_DEL15|
+---------+
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
|        1|
+---------+
only showing top 50 rows

In [38]:
Delay15.createOrReplaceTempView("Airline1")

In [39]:
test3 = spark.sql("SELECT DEP_DEL15 from Airline1 where DEP_DELAY < 15")

test3.show(50)

+---------+
|DEP_DEL15|
+---------+
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
|        0|
+---------+
only showing top 50 rows

In [40]:
# Origin city to Destination Delay
dfrod= spark.sql("SELECT concat(ORIGIN,'-' ,DEST) as Route, DEP_DEL15, DEP_DELAY, CANCELLED from Airline1 where CANCELLED=0")


#Display route with most delays and avg delay
dfrod.groupby('Route').agg({'DEP_DEL15': 'sum','DEP_DELAY': 'avg'}).orderBy('sum(DEP_DEL15)', ascending= False).show(10)

+-------+--------------+------------------+
|  Route|sum(DEP_DEL15)|    avg(DEP_DELAY)|
+-------+--------------+------------------+
|ORD-LGA|          7625|20.180804432443807|
|LAX-SFO|          6650|13.238669744020143|
|LGA-ORD|          6508|18.694583874477868|
|SFO-LAX|          5562| 10.58283858350213|
|LAX-JFK|          4777|11.626711382915763|
|BOS-LGA|          4566|16.692887764061773|
|MCO-EWR|          4475|27.083448526736994|
|SEA-SFO|          4443|14.466033801580334|
|LGA-BOS|          4392|15.519232747094518|
|ATL-LGA|          4384|14.850805372719002|
+-------+--------------+------------------+
only showing top 10 rows

In [82]:
t=dfa.groupBy("ORIGIN").count()
t.sort(desc("count")).show(30)

+------+------+
|ORIGIN| count|
+------+------+
|   ATL|781668|
|   ORD|671038|
|   DFW|583910|
|   DEN|488330|
|   CLT|468298|
|   LAX|440613|
|   IAH|352271|
|   PHX|347026|
|   SFO|345978|
|   LGA|340673|
|   LAS|323737|
|   MSP|318856|
|   DTW|318729|
|   BOS|297804|
|   SEA|284242|
|   MCO|280172|
|   EWR|278887|
|   DCA|270107|
|   JFK|255764|
|   PHL|235712|
|   SLC|228019|
|   BWI|211429|
|   FLL|195313|
|   SAN|183756|
|   MIA|177122|
|   MDW|170245|
|   BNA|156372|
|   TPA|150344|
|   DAL|144587|
|   IAD|137699|
+------+------+
only showing top 30 rows

In [54]:
test4.show()

+----+-------+-----+------------+-----------+-----------------+--------+-----------------+------+----+------------+--------+---------+--------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+----+---------+
|YEAR|QUARTER|MONTH|DAY_OF_MONTH|DAY_OF_WEEK|OP_UNIQUE_CARRIER|TAIL_NUM|OP_CARRIER_FL_NUM|ORIGIN|DEST|CRS_DEP_TIME|DEP_TIME|DEP_DELAY|TAXI_OUT|TAXI_IN|CRS_ARR_TIME|ARR_TIME|ARR_DELAY|CANCELLED|CANCELLATION_CODE|DIVERTED|CRS_ELAPSED_TIME|ACTUAL_ELAPSED_TIME|AIR_TIME|DISTANCE|CARRIER_DELAY|WEATHER_DELAY|NAS_DELAY|SECURITY_DELAY|LATE_AIRCRAFT_DELAY|_c30|DEP_DEL15|
+----+-------+-----+------------+-----------+-----------------+--------+-----------------+------+----+------------+--------+---------+--------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+----+---------+
|2018|      2|    4|          24|          2|               UA|  N18243|             2055|   SFO| PDX|        1200|    1155|     -5.0|    37.0|    4.0|        1351|    1351|      0.0|      0.0|             null|     0.0|           111.0|              116.0|    75.0|   550.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N18243|             2054|   PDX| SFO|        1442|    1436|     -6.0|    11.0|    9.0|        1632|    1621|    -11.0|      0.0|             null|     0.0|           110.0|              105.0|    85.0|   550.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N12218|             2053|   MCO| IAH|        1708|    1658|    -10.0|    13.0|    8.0|        1848|    1831|    -17.0|      0.0|             null|     0.0|           160.0|              153.0|   132.0|   854.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N851UA|             2052|   FAT| SFO|         605|     558|     -7.0|    11.0|   15.0|         702|     655|     -7.0|      0.0|             null|     0.0|            57.0|               57.0|    31.0|   158.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N431UA|             2051|   TPA| SFO|         805|     758|     -7.0|    15.0|    6.0|        1101|    1041|    -20.0|      0.0|             null|     0.0|           356.0|              343.0|   322.0|  2393.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N37290|             2050|   MYR| EWR|        1307|    1302|     -5.0|    35.0|    4.0|        1500|    1502|      2.0|      0.0|             null|     0.0|           113.0|              120.0|    81.0|   550.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N34222|             2049|   DEN| IAH|        1523|    1517|     -6.0|    17.0|    9.0|        1846|    1838|     -8.0|      0.0|             null|     0.0|           143.0|              141.0|   115.0|   862.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N78540|             2049|   LAX| DEN|        1050|    1043|     -7.0|    33.0|    7.0|        1418|    1411|     -7.0|      0.0|             null|     0.0|           148.0|              148.0|   108.0|   862.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N457UA|             2048|   LAX| LAS|        1950|    1947|     -3.0|    18.0|    5.0|        2107|    2056|    -11.0|      0.0|             null|     0.0|            77.0|               69.0|    46.0|   236.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N15710|             2047|   BOS| EWR|        1922|    1913|     -9.0|    21.0|    6.0|        2050|    2032|    -18.0|      0.0|             null|     0.0|            88.0|               79.0|    52.0|   200.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N11206|             2047|   IAH| BOS|        1304|    1259|     -5.0|    15.0|    3.0|        1754|    1734|    -20.0|      0.0|             null|     0.0|           230.0|              215.0|   197.0|  1597.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N75858|             2046|   SFO| DCA|        1252|    1246|     -6.0|    21.0|   14.0|        2100|    2100|      0.0|      0.0|             null|     0.0|           308.0|              314.0|   279.0|  2442.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N77430|             2045|   BOS| IAH|        1707|    1701|     -6.0|    19.0|   14.0|        2023|    2002|    -21.0|      0.0|             null|     0.0|           256.0|              241.0|   208.0|  1597.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N897UA|             2045|   EWR| BOS|        1400|    1353|     -7.0|    16.0|    4.0|        1509|    1457|    -12.0|      0.0|             null|     0.0|            69.0|               64.0|    44.0|   200.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N17752|             2044|   SMF| IAH|         535|     530|     -5.0|    13.0|   10.0|        1110|    1111|      1.0|      0.0|             null|     0.0|           215.0|              221.0|   198.0|  1609.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N33264|             2043|   ORD| IAH|         601|     556|     -5.0|    26.0|    8.0|         848|     835|    -13.0|      0.0|             null|     0.0|           167.0|              159.0|   125.0|   925.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N56859|             2042|   DCA| SFO|         755|     749|     -6.0|    16.0|    4.0|        1100|    1023|    -37.0|      0.0|             null|     0.0|           365.0|              334.0|   314.0|  2442.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N510UA|             2041|   LAX| EWR|         600|     603|      3.0|    21.0|    6.0|        1414|    1418|      4.0|      0.0|             null|     0.0|           314.0|              315.0|   288.0|  2454.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N436UA|             2040|   IAH| FLL|        1015|    1008|     -7.0|    14.0|    4.0|        1342|    1323|    -19.0|      0.0|             null|     0.0|           147.0|              135.0|   117.0|   966.0|         null|         null|     null|          null|               null|null|        0|
|2018|      2|    4|          24|          2|               UA|  N77865|             2039|   LAX| ORD|         820|     820|      0.0|    32.0|   14.0|        1427|    1425|     -2.0|      0.0|             null|     0.0|           247.0|              245.0|   199.0|  1744.0|         null|         null|     null|          null|               null|null|        0|
+----+-------+-----+------------+-----------+-----------------+--------+-----------------+------+----+------------+--------+---------+--------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+----+---------+
only showing top 20 rows

In [81]:
HighLowtraffic_column = dfa.withColumn("HighLowTrafficOrigin",
      expr("case when ORIGIN = 'ATL' then 1 " +
                       "when ORIGIN = 'ORD' then 1 " +
                       "else 0 end"))
HighLowtraffic_column.show(10)

NameError: name 'Airline1' is not defined

In [79]:
test5 = spark.sql("SELECT * from Airline2").show(10)

+----+-------+-----+------------+-----------+-----------------+--------+-----------------+------+----+------------+--------+---------+--------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+----+--------------------+
|YEAR|QUARTER|MONTH|DAY_OF_MONTH|DAY_OF_WEEK|OP_UNIQUE_CARRIER|TAIL_NUM|OP_CARRIER_FL_NUM|ORIGIN|DEST|CRS_DEP_TIME|DEP_TIME|DEP_DELAY|TAXI_OUT|TAXI_IN|CRS_ARR_TIME|ARR_TIME|ARR_DELAY|CANCELLED|CANCELLATION_CODE|DIVERTED|CRS_ELAPSED_TIME|ACTUAL_ELAPSED_TIME|AIR_TIME|DISTANCE|CARRIER_DELAY|WEATHER_DELAY|NAS_DELAY|SECURITY_DELAY|LATE_AIRCRAFT_DELAY|_c30|HighLowTrafficOrigin|
+----+-------+-----+------------+-----------+-----------------+--------+-----------------+------+----+------------+--------+---------+--------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+----+--------------------+
|2018|      2|    4|          24|          2|               UA|  N18243|             2055|   SFO| PDX|        1200|    1155|     -5.0|    37.0|    4.0|        1351|    1351|      0.0|      0.0|             null|     0.0|           111.0|              116.0|    75.0|   550.0|         null|         null|     null|          null|               null|null|                   0|
|2018|      2|    4|          24|          2|               UA|  N18243|             2054|   PDX| SFO|        1442|    1436|     -6.0|    11.0|    9.0|        1632|    1621|    -11.0|      0.0|             null|     0.0|           110.0|              105.0|    85.0|   550.0|         null|         null|     null|          null|               null|null|                   0|
|2018|      2|    4|          24|          2|               UA|  N12218|             2053|   MCO| IAH|        1708|    1658|    -10.0|    13.0|    8.0|        1848|    1831|    -17.0|      0.0|             null|     0.0|           160.0|              153.0|   132.0|   854.0|         null|         null|     null|          null|               null|null|                   0|
|2018|      2|    4|          24|          2|               UA|  N851UA|             2052|   FAT| SFO|         605|     558|     -7.0|    11.0|   15.0|         702|     655|     -7.0|      0.0|             null|     0.0|            57.0|               57.0|    31.0|   158.0|         null|         null|     null|          null|               null|null|                   0|
|2018|      2|    4|          24|          2|               UA|  N431UA|             2051|   TPA| SFO|         805|     758|     -7.0|    15.0|    6.0|        1101|    1041|    -20.0|      0.0|             null|     0.0|           356.0|              343.0|   322.0|  2393.0|         null|         null|     null|          null|               null|null|                   0|
|2018|      2|    4|          24|          2|               UA|  N37290|             2050|   MYR| EWR|        1307|    1302|     -5.0|    35.0|    4.0|        1500|    1502|      2.0|      0.0|             null|     0.0|           113.0|              120.0|    81.0|   550.0|         null|         null|     null|          null|               null|null|                   0|
|2018|      2|    4|          24|          2|               UA|  N34222|             2049|   DEN| IAH|        1523|    1517|     -6.0|    17.0|    9.0|        1846|    1838|     -8.0|      0.0|             null|     0.0|           143.0|              141.0|   115.0|   862.0|         null|         null|     null|          null|               null|null|                   0|
|2018|      2|    4|          24|          2|               UA|  N78540|             2049|   LAX| DEN|        1050|    1043|     -7.0|    33.0|    7.0|        1418|    1411|     -7.0|      0.0|             null|     0.0|           148.0|              148.0|   108.0|   862.0|         null|         null|     null|          null|               null|null|                   0|
|2018|      2|    4|          24|          2|               UA|  N457UA|             2048|   LAX| LAS|        1950|    1947|     -3.0|    18.0|    5.0|        2107|    2056|    -11.0|      0.0|             null|     0.0|            77.0|               69.0|    46.0|   236.0|         null|         null|     null|          null|               null|null|                   0|
|2018|      2|    4|          24|          2|               UA|  N15710|             2047|   BOS| EWR|        1922|    1913|     -9.0|    21.0|    6.0|        2050|    2032|    -18.0|      0.0|             null|     0.0|            88.0|               79.0|    52.0|   200.0|         null|         null|     null|          null|               null|null|                   0|
+----+-------+-----+------------+-----------+-----------------+--------+-----------------+------+----+------------+--------+---------+--------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+----+--------------------+
only showing top 10 rows

In [77]:
Delay15.createOrReplaceTempView("Airline2")

In [78]:
HighLowtraffic_column.createOrReplaceTempView("Airline2")

In [80]:
dfa.head(10)

[Row(YEAR=2018, QUARTER=2, MONTH=4, DAY_OF_MONTH=24, DAY_OF_WEEK=2, OP_UNIQUE_CARRIER='UA', TAIL_NUM='N18243', OP_CARRIER_FL_NUM=2055, ORIGIN='SFO', DEST='PDX', CRS_DEP_TIME=1200, DEP_TIME=1155, DEP_DELAY=-5.0, TAXI_OUT=37.0, TAXI_IN=4.0, CRS_ARR_TIME=1351, ARR_TIME=1351, ARR_DELAY=0.0, CANCELLED=0.0, CANCELLATION_CODE=None, DIVERTED=0.0, CRS_ELAPSED_TIME=111.0, ACTUAL_ELAPSED_TIME=116.0, AIR_TIME=75.0, DISTANCE=550.0, CARRIER_DELAY=None, WEATHER_DELAY=None, NAS_DELAY=None, SECURITY_DELAY=None, LATE_AIRCRAFT_DELAY=None, _c30=None),
 Row(YEAR=2018, QUARTER=2, MONTH=4, DAY_OF_MONTH=24, DAY_OF_WEEK=2, OP_UNIQUE_CARRIER='UA', TAIL_NUM='N18243', OP_CARRIER_FL_NUM=2054, ORIGIN='PDX', DEST='SFO', CRS_DEP_TIME=1442, DEP_TIME=1436, DEP_DELAY=-6.0, TAXI_OUT=11.0, TAXI_IN=9.0, CRS_ARR_TIME=1632, ARR_TIME=1621, ARR_DELAY=-11.0, CANCELLED=0.0, CANCELLATION_CODE=None, DIVERTED=0.0, CRS_ELAPSED_TIME=110.0, ACTUAL_ELAPSED_TIME=105.0, AIR_TIME=85.0, DISTANCE=550.0, CARRIER_DELAY=None, WEATHER_DELAY=None, NAS_DELAY=None, SECURITY_DELAY=None, LATE_AIRCRAFT_DELAY=None, _c30=None),
 Row(YEAR=2018, QUARTER=2, MONTH=4, DAY_OF_MONTH=24, DAY_OF_WEEK=2, OP_UNIQUE_CARRIER='UA', TAIL_NUM='N12218', OP_CARRIER_FL_NUM=2053, ORIGIN='MCO', DEST='IAH', CRS_DEP_TIME=1708, DEP_TIME=1658, DEP_DELAY=-10.0, TAXI_OUT=13.0, TAXI_IN=8.0, CRS_ARR_TIME=1848, ARR_TIME=1831, ARR_DELAY=-17.0, CANCELLED=0.0, CANCELLATION_CODE=None, DIVERTED=0.0, CRS_ELAPSED_TIME=160.0, ACTUAL_ELAPSED_TIME=153.0, AIR_TIME=132.0, DISTANCE=854.0, CARRIER_DELAY=None, WEATHER_DELAY=None, NAS_DELAY=None, SECURITY_DELAY=None, LATE_AIRCRAFT_DELAY=None, _c30=None),
 Row(YEAR=2018, QUARTER=2, MONTH=4, DAY_OF_MONTH=24, DAY_OF_WEEK=2, OP_UNIQUE_CARRIER='UA', TAIL_NUM='N851UA', OP_CARRIER_FL_NUM=2052, ORIGIN='FAT', DEST='SFO', CRS_DEP_TIME=605, DEP_TIME=558, DEP_DELAY=-7.0, TAXI_OUT=11.0, TAXI_IN=15.0, CRS_ARR_TIME=702, ARR_TIME=655, ARR_DELAY=-7.0, CANCELLED=0.0, CANCELLATION_CODE=None, DIVERTED=0.0, CRS_ELAPSED_TIME=57.0, ACTUAL_ELAPSED_TIME=57.0, AIR_TIME=31.0, DISTANCE=158.0, CARRIER_DELAY=None, WEATHER_DELAY=None, NAS_DELAY=None, SECURITY_DELAY=None, LATE_AIRCRAFT_DELAY=None, _c30=None),
 Row(YEAR=2018, QUARTER=2, MONTH=4, DAY_OF_MONTH=24, DAY_OF_WEEK=2, OP_UNIQUE_CARRIER='UA', TAIL_NUM='N431UA', OP_CARRIER_FL_NUM=2051, ORIGIN='TPA', DEST='SFO', CRS_DEP_TIME=805, DEP_TIME=758, DEP_DELAY=-7.0, TAXI_OUT=15.0, TAXI_IN=6.0, CRS_ARR_TIME=1101, ARR_TIME=1041, ARR_DELAY=-20.0, CANCELLED=0.0, CANCELLATION_CODE=None, DIVERTED=0.0, CRS_ELAPSED_TIME=356.0, ACTUAL_ELAPSED_TIME=343.0, AIR_TIME=322.0, DISTANCE=2393.0, CARRIER_DELAY=None, WEATHER_DELAY=None, NAS_DELAY=None, SECURITY_DELAY=None, LATE_AIRCRAFT_DELAY=None, _c30=None),
 Row(YEAR=2018, QUARTER=2, MONTH=4, DAY_OF_MONTH=24, DAY_OF_WEEK=2, OP_UNIQUE_CARRIER='UA', TAIL_NUM='N37290', OP_CARRIER_FL_NUM=2050, ORIGIN='MYR', DEST='EWR', CRS_DEP_TIME=1307, DEP_TIME=1302, DEP_DELAY=-5.0, TAXI_OUT=35.0, TAXI_IN=4.0, CRS_ARR_TIME=1500, ARR_TIME=1502, ARR_DELAY=2.0, CANCELLED=0.0, CANCELLATION_CODE=None, DIVERTED=0.0, CRS_ELAPSED_TIME=113.0, ACTUAL_ELAPSED_TIME=120.0, AIR_TIME=81.0, DISTANCE=550.0, CARRIER_DELAY=None, WEATHER_DELAY=None, NAS_DELAY=None, SECURITY_DELAY=None, LATE_AIRCRAFT_DELAY=None, _c30=None),
 Row(YEAR=2018, QUARTER=2, MONTH=4, DAY_OF_MONTH=24, DAY_OF_WEEK=2, OP_UNIQUE_CARRIER='UA', TAIL_NUM='N34222', OP_CARRIER_FL_NUM=2049, ORIGIN='DEN', DEST='IAH', CRS_DEP_TIME=1523, DEP_TIME=1517, DEP_DELAY=-6.0, TAXI_OUT=17.0, TAXI_IN=9.0, CRS_ARR_TIME=1846, ARR_TIME=1838, ARR_DELAY=-8.0, CANCELLED=0.0, CANCELLATION_CODE=None, DIVERTED=0.0, CRS_ELAPSED_TIME=143.0, ACTUAL_ELAPSED_TIME=141.0, AIR_TIME=115.0, DISTANCE=862.0, CARRIER_DELAY=None, WEATHER_DELAY=None, NAS_DELAY=None, SECURITY_DELAY=None, LATE_AIRCRAFT_DELAY=None, _c30=None),
 Row(YEAR=2018, QUARTER=2, MONTH=4, DAY_OF_MONTH=24, DAY_OF_WEEK=2, OP_UNIQUE_CARRIER='UA', TAIL_NUM='N78540', OP_CARRIER_FL_NUM=2049, ORIGIN='LAX', DEST='DEN', CRS_DEP_TIME=1050, DEP_TIME=1043, DEP_DELAY=-7.0, TAXI_OUT=33.0, TAXI_IN=7.0, CRS_ARR_TIME=1418, ARR_TIME=1411, ARR_DELAY=-7.0, CANCELLED=0.0, CANCELLATION_CODE=None, DIVERTED=0.0, CRS_ELAPSED_TIME=148.0, ACTUAL_ELAPSED_TIME=148.0, AIR_TIME=108.0, DISTANCE=862.0, CARRIER_DELAY=None, WEATHER_DELAY=None, NAS_DELAY=None, SECURITY_DELAY=None, LATE_AIRCRAFT_DELAY=None, _c30=None),
 Row(YEAR=2018, QUARTER=2, MONTH=4, DAY_OF_MONTH=24, DAY_OF_WEEK=2, OP_UNIQUE_CARRIER='UA', TAIL_NUM='N457UA', OP_CARRIER_FL_NUM=2048, ORIGIN='LAX', DEST='LAS', CRS_DEP_TIME=1950, DEP_TIME=1947, DEP_DELAY=-3.0, TAXI_OUT=18.0, TAXI_IN=5.0, CRS_ARR_TIME=2107, ARR_TIME=2056, ARR_DELAY=-11.0, CANCELLED=0.0, CANCELLATION_CODE=None, DIVERTED=0.0, CRS_ELAPSED_TIME=77.0, ACTUAL_ELAPSED_TIME=69.0, AIR_TIME=46.0, DISTANCE=236.0, CARRIER_DELAY=None, WEATHER_DELAY=None, NAS_DELAY=None, SECURITY_DELAY=None, LATE_AIRCRAFT_DELAY=None, _c30=None),
 Row(YEAR=2018, QUARTER=2, MONTH=4, DAY_OF_MONTH=24, DAY_OF_WEEK=2, OP_UNIQUE_CARRIER='UA', TAIL_NUM='N15710', OP_CARRIER_FL_NUM=2047, ORIGIN='BOS', DEST='EWR', CRS_DEP_TIME=1922, DEP_TIME=1913, DEP_DELAY=-9.0, TAXI_OUT=21.0, TAXI_IN=6.0, CRS_ARR_TIME=2050, ARR_TIME=2032, ARR_DELAY=-18.0, CANCELLED=0.0, CANCELLATION_CODE=None, DIVERTED=0.0, CRS_ELAPSED_TIME=88.0, ACTUAL_ELAPSED_TIME=79.0, AIR_TIME=52.0, DISTANCE=200.0, CARRIER_DELAY=None, WEATHER_DELAY=None, NAS_DELAY=None, SECURITY_DELAY=None, LATE_AIRCRAFT_DELAY=None, _c30=None)]

In [83]:
dfa1 = dfa.withColumn("DEP_DEL15",when(dfa.DEP_DELAY > 15,1).otherwise(0)).withColumn("HighLowTrafficOrigin",
      expr("case when ORIGIN = 'ATL' then 1 " +
                       "when ORIGIN = 'ORD' then 1 " +
                       "when ORIGIN = 'DFW' then 1 " +
                       "when ORIGIN = 'DEN' then 1 " +
                       "when ORIGIN = 'CLT' then 1 " +
                       "when ORIGIN = 'LAX' then 1 " +
                       "when ORIGIN = 'IAH' then 1 " +
                       "when ORIGIN = 'PHX' then 1 " +
                       "when ORIGIN = 'SFO' then 1 " +
                       "when ORIGIN = 'LGA' then 1 " +
                       "else 0 end"))
dfa1.show()

+----+-------+-----+------------+-----------+-----------------+--------+-----------------+------+----+------------+--------+---------+--------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+----+---------+--------------------+
|YEAR|QUARTER|MONTH|DAY_OF_MONTH|DAY_OF_WEEK|OP_UNIQUE_CARRIER|TAIL_NUM|OP_CARRIER_FL_NUM|ORIGIN|DEST|CRS_DEP_TIME|DEP_TIME|DEP_DELAY|TAXI_OUT|TAXI_IN|CRS_ARR_TIME|ARR_TIME|ARR_DELAY|CANCELLED|CANCELLATION_CODE|DIVERTED|CRS_ELAPSED_TIME|ACTUAL_ELAPSED_TIME|AIR_TIME|DISTANCE|CARRIER_DELAY|WEATHER_DELAY|NAS_DELAY|SECURITY_DELAY|LATE_AIRCRAFT_DELAY|_c30|DEP_DEL15|HighLowTrafficOrigin|
+----+-------+-----+------------+-----------+-----------------+--------+-----------------+------+----+------------+--------+---------+--------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+----+---------+--------------------+
|2018|      2|    4|          24|          2|               UA|  N18243|             2055|   SFO| PDX|        1200|    1155|     -5.0|    37.0|    4.0|        1351|    1351|      0.0|      0.0|             null|     0.0|           111.0|              116.0|    75.0|   550.0|         null|         null|     null|          null|               null|null|        0|                   1|
|2018|      2|    4|          24|          2|               UA|  N18243|             2054|   PDX| SFO|        1442|    1436|     -6.0|    11.0|    9.0|        1632|    1621|    -11.0|      0.0|             null|     0.0|           110.0|              105.0|    85.0|   550.0|         null|         null|     null|          null|               null|null|        0|                   0|
|2018|      2|    4|          24|          2|               UA|  N12218|             2053|   MCO| IAH|        1708|    1658|    -10.0|    13.0|    8.0|        1848|    1831|    -17.0|      0.0|             null|     0.0|           160.0|              153.0|   132.0|   854.0|         null|         null|     null|          null|               null|null|        0|                   0|
|2018|      2|    4|          24|          2|               UA|  N851UA|             2052|   FAT| SFO|         605|     558|     -7.0|    11.0|   15.0|         702|     655|     -7.0|      0.0|             null|     0.0|            57.0|               57.0|    31.0|   158.0|         null|         null|     null|          null|               null|null|        0|                   0|
|2018|      2|    4|          24|          2|               UA|  N431UA|             2051|   TPA| SFO|         805|     758|     -7.0|    15.0|    6.0|        1101|    1041|    -20.0|      0.0|             null|     0.0|           356.0|              343.0|   322.0|  2393.0|         null|         null|     null|          null|               null|null|        0|                   0|
|2018|      2|    4|          24|          2|               UA|  N37290|             2050|   MYR| EWR|        1307|    1302|     -5.0|    35.0|    4.0|        1500|    1502|      2.0|      0.0|             null|     0.0|           113.0|              120.0|    81.0|   550.0|         null|         null|     null|          null|               null|null|        0|                   0|
|2018|      2|    4|          24|          2|               UA|  N34222|             2049|   DEN| IAH|        1523|    1517|     -6.0|    17.0|    9.0|        1846|    1838|     -8.0|      0.0|             null|     0.0|           143.0|              141.0|   115.0|   862.0|         null|         null|     null|          null|               null|null|        0|                   1|
|2018|      2|    4|          24|          2|               UA|  N78540|             2049|   LAX| DEN|        1050|    1043|     -7.0|    33.0|    7.0|        1418|    1411|     -7.0|      0.0|             null|     0.0|           148.0|              148.0|   108.0|   862.0|         null|         null|     null|          null|               null|null|        0|                   1|
|2018|      2|    4|          24|          2|               UA|  N457UA|             2048|   LAX| LAS|        1950|    1947|     -3.0|    18.0|    5.0|        2107|    2056|    -11.0|      0.0|             null|     0.0|            77.0|               69.0|    46.0|   236.0|         null|         null|     null|          null|               null|null|        0|                   1|
|2018|      2|    4|          24|          2|               UA|  N15710|             2047|   BOS| EWR|        1922|    1913|     -9.0|    21.0|    6.0|        2050|    2032|    -18.0|      0.0|             null|     0.0|            88.0|               79.0|    52.0|   200.0|         null|         null|     null|          null|               null|null|        0|                   0|
|2018|      2|    4|          24|          2|               UA|  N11206|             2047|   IAH| BOS|        1304|    1259|     -5.0|    15.0|    3.0|        1754|    1734|    -20.0|      0.0|             null|     0.0|           230.0|              215.0|   197.0|  1597.0|         null|         null|     null|          null|               null|null|        0|                   1|
|2018|      2|    4|          24|          2|               UA|  N75858|             2046|   SFO| DCA|        1252|    1246|     -6.0|    21.0|   14.0|        2100|    2100|      0.0|      0.0|             null|     0.0|           308.0|              314.0|   279.0|  2442.0|         null|         null|     null|          null|               null|null|        0|                   1|
|2018|      2|    4|          24|          2|               UA|  N77430|             2045|   BOS| IAH|        1707|    1701|     -6.0|    19.0|   14.0|        2023|    2002|    -21.0|      0.0|             null|     0.0|           256.0|              241.0|   208.0|  1597.0|         null|         null|     null|          null|               null|null|        0|                   0|
|2018|      2|    4|          24|          2|               UA|  N897UA|             2045|   EWR| BOS|        1400|    1353|     -7.0|    16.0|    4.0|        1509|    1457|    -12.0|      0.0|             null|     0.0|            69.0|               64.0|    44.0|   200.0|         null|         null|     null|          null|               null|null|        0|                   0|
|2018|      2|    4|          24|          2|               UA|  N17752|             2044|   SMF| IAH|         535|     530|     -5.0|    13.0|   10.0|        1110|    1111|      1.0|      0.0|             null|     0.0|           215.0|              221.0|   198.0|  1609.0|         null|         null|     null|          null|               null|null|        0|                   0|
|2018|      2|    4|          24|          2|               UA|  N33264|             2043|   ORD| IAH|         601|     556|     -5.0|    26.0|    8.0|         848|     835|    -13.0|      0.0|             null|     0.0|           167.0|              159.0|   125.0|   925.0|         null|         null|     null|          null|               null|null|        0|                   1|
|2018|      2|    4|          24|          2|               UA|  N56859|             2042|   DCA| SFO|         755|     749|     -6.0|    16.0|    4.0|        1100|    1023|    -37.0|      0.0|             null|     0.0|           365.0|              334.0|   314.0|  2442.0|         null|         null|     null|          null|               null|null|        0|                   0|
|2018|      2|    4|          24|          2|               UA|  N510UA|             2041|   LAX| EWR|         600|     603|      3.0|    21.0|    6.0|        1414|    1418|      4.0|      0.0|             null|     0.0|           314.0|              315.0|   288.0|  2454.0|         null|         null|     null|          null|               null|null|        0|                   1|
|2018|      2|    4|          24|          2|               UA|  N436UA|             2040|   IAH| FLL|        1015|    1008|     -7.0|    14.0|    4.0|        1342|    1323|    -19.0|      0.0|             null|     0.0|           147.0|              135.0|   117.0|   966.0|         null|         null|     null|          null|               null|null|        0|                   1|
|2018|      2|    4|          24|          2|               UA|  N77865|             2039|   LAX| ORD|         820|     820|      0.0|    32.0|   14.0|        1427|    1425|     -2.0|      0.0|             null|     0.0|           247.0|              245.0|   199.0|  1744.0|         null|         null|     null|          null|               null|null|        0|                   1|
+----+-------+-----+------------+-----------+-----------------+--------+-----------------+------+----+------------+--------+---------+--------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+----+---------+--------------------+
only showing top 20 rows

In [84]:
dfa1.createOrReplaceTempView("Airline2")

In [85]:
test5 = spark.sql("SELECT * from Airline2").show(10)

+----+-------+-----+------------+-----------+-----------------+--------+-----------------+------+----+------------+--------+---------+--------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+----+---------+--------------------+
|YEAR|QUARTER|MONTH|DAY_OF_MONTH|DAY_OF_WEEK|OP_UNIQUE_CARRIER|TAIL_NUM|OP_CARRIER_FL_NUM|ORIGIN|DEST|CRS_DEP_TIME|DEP_TIME|DEP_DELAY|TAXI_OUT|TAXI_IN|CRS_ARR_TIME|ARR_TIME|ARR_DELAY|CANCELLED|CANCELLATION_CODE|DIVERTED|CRS_ELAPSED_TIME|ACTUAL_ELAPSED_TIME|AIR_TIME|DISTANCE|CARRIER_DELAY|WEATHER_DELAY|NAS_DELAY|SECURITY_DELAY|LATE_AIRCRAFT_DELAY|_c30|DEP_DEL15|HighLowTrafficOrigin|
+----+-------+-----+------------+-----------+-----------------+--------+-----------------+------+----+------------+--------+---------+--------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+----+---------+--------------------+
|2018|      2|    4|          24|          2|               UA|  N18243|             2055|   SFO| PDX|        1200|    1155|     -5.0|    37.0|    4.0|        1351|    1351|      0.0|      0.0|             null|     0.0|           111.0|              116.0|    75.0|   550.0|         null|         null|     null|          null|               null|null|        0|                   1|
|2018|      2|    4|          24|          2|               UA|  N18243|             2054|   PDX| SFO|        1442|    1436|     -6.0|    11.0|    9.0|        1632|    1621|    -11.0|      0.0|             null|     0.0|           110.0|              105.0|    85.0|   550.0|         null|         null|     null|          null|               null|null|        0|                   0|
|2018|      2|    4|          24|          2|               UA|  N12218|             2053|   MCO| IAH|        1708|    1658|    -10.0|    13.0|    8.0|        1848|    1831|    -17.0|      0.0|             null|     0.0|           160.0|              153.0|   132.0|   854.0|         null|         null|     null|          null|               null|null|        0|                   0|
|2018|      2|    4|          24|          2|               UA|  N851UA|             2052|   FAT| SFO|         605|     558|     -7.0|    11.0|   15.0|         702|     655|     -7.0|      0.0|             null|     0.0|            57.0|               57.0|    31.0|   158.0|         null|         null|     null|          null|               null|null|        0|                   0|
|2018|      2|    4|          24|          2|               UA|  N431UA|             2051|   TPA| SFO|         805|     758|     -7.0|    15.0|    6.0|        1101|    1041|    -20.0|      0.0|             null|     0.0|           356.0|              343.0|   322.0|  2393.0|         null|         null|     null|          null|               null|null|        0|                   0|
|2018|      2|    4|          24|          2|               UA|  N37290|             2050|   MYR| EWR|        1307|    1302|     -5.0|    35.0|    4.0|        1500|    1502|      2.0|      0.0|             null|     0.0|           113.0|              120.0|    81.0|   550.0|         null|         null|     null|          null|               null|null|        0|                   0|
|2018|      2|    4|          24|          2|               UA|  N34222|             2049|   DEN| IAH|        1523|    1517|     -6.0|    17.0|    9.0|        1846|    1838|     -8.0|      0.0|             null|     0.0|           143.0|              141.0|   115.0|   862.0|         null|         null|     null|          null|               null|null|        0|                   1|
|2018|      2|    4|          24|          2|               UA|  N78540|             2049|   LAX| DEN|        1050|    1043|     -7.0|    33.0|    7.0|        1418|    1411|     -7.0|      0.0|             null|     0.0|           148.0|              148.0|   108.0|   862.0|         null|         null|     null|          null|               null|null|        0|                   1|
|2018|      2|    4|          24|          2|               UA|  N457UA|             2048|   LAX| LAS|        1950|    1947|     -3.0|    18.0|    5.0|        2107|    2056|    -11.0|      0.0|             null|     0.0|            77.0|               69.0|    46.0|   236.0|         null|         null|     null|          null|               null|null|        0|                   1|
|2018|      2|    4|          24|          2|               UA|  N15710|             2047|   BOS| EWR|        1922|    1913|     -9.0|    21.0|    6.0|        2050|    2032|    -18.0|      0.0|             null|     0.0|            88.0|               79.0|    52.0|   200.0|         null|         null|     null|          null|               null|null|        0|                   0|
+----+-------+-----+------------+-----------+-----------------+--------+-----------------+------+----+------------+--------+---------+--------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+----+---------+--------------------+
only showing top 10 rows

In [145]:
from pyspark.ml.clustering import KMeans
from pyspark.ml.evaluation import ClusteringEvaluator
import pandas as pd
from sklearn.cluster import KMeans



#copy dataframe
dataset = dfa1
dfa = dfa1

In [146]:
#Remove cancelled flights
dataset = dataset.filter("CANCELLED = 0")
dataset.show(10)

+----+-------+-----+------------+-----------+-----------------+--------+-----------------+------+----+------------+--------+---------+--------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+----+---------+--------------------+
|YEAR|QUARTER|MONTH|DAY_OF_MONTH|DAY_OF_WEEK|OP_UNIQUE_CARRIER|TAIL_NUM|OP_CARRIER_FL_NUM|ORIGIN|DEST|CRS_DEP_TIME|DEP_TIME|DEP_DELAY|TAXI_OUT|TAXI_IN|CRS_ARR_TIME|ARR_TIME|ARR_DELAY|CANCELLED|CANCELLATION_CODE|DIVERTED|CRS_ELAPSED_TIME|ACTUAL_ELAPSED_TIME|AIR_TIME|DISTANCE|CARRIER_DELAY|WEATHER_DELAY|NAS_DELAY|SECURITY_DELAY|LATE_AIRCRAFT_DELAY|_c30|DEP_DEL15|HighLowTrafficOrigin|
+----+-------+-----+------------+-----------+-----------------+--------+-----------------+------+----+------------+--------+---------+--------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+----+---------+--------------------+
|2018|      2|    4|          24|          2|               UA|  N18243|             2055|   SFO| PDX|        1200|    1155|     -5.0|    37.0|    4.0|        1351|    1351|      0.0|      0.0|             null|     0.0|           111.0|              116.0|    75.0|   550.0|         null|         null|     null|          null|               null|null|        0|                   1|
|2018|      2|    4|          24|          2|               UA|  N18243|             2054|   PDX| SFO|        1442|    1436|     -6.0|    11.0|    9.0|        1632|    1621|    -11.0|      0.0|             null|     0.0|           110.0|              105.0|    85.0|   550.0|         null|         null|     null|          null|               null|null|        0|                   0|
|2018|      2|    4|          24|          2|               UA|  N12218|             2053|   MCO| IAH|        1708|    1658|    -10.0|    13.0|    8.0|        1848|    1831|    -17.0|      0.0|             null|     0.0|           160.0|              153.0|   132.0|   854.0|         null|         null|     null|          null|               null|null|        0|                   0|
|2018|      2|    4|          24|          2|               UA|  N851UA|             2052|   FAT| SFO|         605|     558|     -7.0|    11.0|   15.0|         702|     655|     -7.0|      0.0|             null|     0.0|            57.0|               57.0|    31.0|   158.0|         null|         null|     null|          null|               null|null|        0|                   0|
|2018|      2|    4|          24|          2|               UA|  N431UA|             2051|   TPA| SFO|         805|     758|     -7.0|    15.0|    6.0|        1101|    1041|    -20.0|      0.0|             null|     0.0|           356.0|              343.0|   322.0|  2393.0|         null|         null|     null|          null|               null|null|        0|                   0|
|2018|      2|    4|          24|          2|               UA|  N37290|             2050|   MYR| EWR|        1307|    1302|     -5.0|    35.0|    4.0|        1500|    1502|      2.0|      0.0|             null|     0.0|           113.0|              120.0|    81.0|   550.0|         null|         null|     null|          null|               null|null|        0|                   0|
|2018|      2|    4|          24|          2|               UA|  N34222|             2049|   DEN| IAH|        1523|    1517|     -6.0|    17.0|    9.0|        1846|    1838|     -8.0|      0.0|             null|     0.0|           143.0|              141.0|   115.0|   862.0|         null|         null|     null|          null|               null|null|        0|                   1|
|2018|      2|    4|          24|          2|               UA|  N78540|             2049|   LAX| DEN|        1050|    1043|     -7.0|    33.0|    7.0|        1418|    1411|     -7.0|      0.0|             null|     0.0|           148.0|              148.0|   108.0|   862.0|         null|         null|     null|          null|               null|null|        0|                   1|
|2018|      2|    4|          24|          2|               UA|  N457UA|             2048|   LAX| LAS|        1950|    1947|     -3.0|    18.0|    5.0|        2107|    2056|    -11.0|      0.0|             null|     0.0|            77.0|               69.0|    46.0|   236.0|         null|         null|     null|          null|               null|null|        0|                   1|
|2018|      2|    4|          24|          2|               UA|  N15710|             2047|   BOS| EWR|        1922|    1913|     -9.0|    21.0|    6.0|        2050|    2032|    -18.0|      0.0|             null|     0.0|            88.0|               79.0|    52.0|   200.0|         null|         null|     null|          null|               null|null|        0|                   0|
+----+-------+-----+------------+-----------+-----------------+--------+-----------------+------+----+------------+--------+---------+--------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+----+---------+--------------------+
only showing top 10 rows

In [100]:
datasett.unpersist()

DataFrame[YEAR: int, QUARTER: int, MONTH: int, DAY_OF_MONTH: int, DAY_OF_WEEK: int, OP_UNIQUE_CARRIER: string, TAIL_NUM: string, OP_CARRIER_FL_NUM: int, ORIGIN: string, DEST: string, CRS_DEP_TIME: int, DEP_TIME: int, DEP_DELAY: double, TAXI_OUT: double, TAXI_IN: double, CRS_ARR_TIME: int, ARR_TIME: int, ARR_DELAY: double, CANCELLED: double, CANCELLATION_CODE: string, DIVERTED: double, CRS_ELAPSED_TIME: double, ACTUAL_ELAPSED_TIME: double, AIR_TIME: double, DISTANCE: double, CARRIER_DELAY: double, WEATHER_DELAY: double, NAS_DELAY: double, SECURITY_DELAY: double, LATE_AIRCRAFT_DELAY: double, _c30: string, DEP_DEL15: int, HighLowTrafficOrigin: int]